/* COMEÇO BANNER  */

.texto_sobre{
    /* border: 0.1vw solid var(--preto); */
    margin: 30vh 0% 0% 5vw;
    width: 45vw;
    height: 70vh;
}

.img_sobre{
    /* border: 0.1vw solid var(--preto); */
    margin: 30vh 5vw 0% 0%;
    width: 45vw;
    height: 70vh;
    background: url(../css/img/luz.jpg);
    background-size: 50vw;
    background-repeat: no-repeat;
}

.titulo{
    display: flex;
    flex-direction: column;
    padding: 1.3vh;
    align-items: center;
}

.texto_banner{
    color: var(--preto2); 
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 1.8vw;
    font-family: var(--fonte);
    text-indent: 3vw;
    padding-right:4vw;
}

.titulo_banner{
    color: var(--azulclaro);
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 2.5vw;
    font-family: var(--fonte);
    font-weight: bold;
}

#saiba_mais{
    text-decoration: underline;
    font-size: 1.5vw;
    color: var(--azulescuro);
}

.banner{
    display: flex;
}

.diagrama{
    width: 90vw;
    margin: 5vw;
}
.img_diagrama{
    margin-top: 2vw;
    border: 1px solid black;
    height: 68vh;
}