/* mobile */

@media screen and (max-width:500px){

}

/* Tablet */

@media screen and (max-width:820px){

}

/* Computador */

@media screen and (min-width: 821px){

body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}    

.login_card{
    display: flex;
    width: 40%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    background: var(--branco);
}

.home {
    display: flex;
    width: 100%;
    height: 20vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.home a {
    display: flex;
    text-decoration: none;
    font-family: var(--letra);
    color: var(--preto2);
    margin-left: 5%;
    margin-top: 2%;
}

.home img{
    display: flex;
    width: 105px;
    height: 105px;
    margin-right: 5%;
    margin-top: 2%;
}

.container_cardLogin{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--branco);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ipt_login{
    width: 300px;
    height: 26px;
    text-align: left;
    background-color: transparent;
    color: var(--preto2);
    border-radius: 4px;
    border: 2px solid var(--preto2);
    margin: 10px 0;
}


.texto_card{
    font-size: 16px;
    color: black;
    font-family: var(--letra);
    margin-top: 20vh;
}

h2{
    color: var(--preto);
    font-family: var(--letra);
    padding: 0;
    font-size: 25px;
}

.btn_logar{
    width: 12vw;
    height: 6vh;
    border-radius: 10vw;
    background-color: var(--preto2);
    color: var(--branco);
    font-size: 1.4vw;
    border-color: transparent;
    font-family: var(--letra);
    text-align: center;
    transition: 0.3s;
}

.btn_logar:hover{
    font-size: 1.5vw;
    background-color: var(--preto2);
    color: var(--branco);
    cursor: pointer;
}

.imagem_login{
    background-color: var(--preto2);
    display: flex;
    width: 60%;
    height: 100vh;
    /* position: relative; */
}

/* .imagem_login img{
    display: flex;
    position: relative;
} */

/* .imagem_login label{
    display: flex;
    width: 105px;
    height: 105px;
    left: 85%;
    top: 2%;
    position: absolute;
} */

#validar{
    color: white;
}
}